.app-bar-wrapper {
  flex-grow: 1;
}
.app-bar-wrapper a {
  text-decoration: none;
}

.grow {
  display: flex;
}

#logo {
  margin-top: 7px;
  margin-right: 8px;
}

#popper-account{
  left: -10px!important;
}
